:root{
--cor0:#2993CC;
--cor1:#3D7999;
--cor2:#01A6FF;
--cor3:#3D5866;
--cor4:#292F33;
--cor5:;
--fonte0:;
--fonte1:;
--fonte2:;

}

body{ 
    
}

header{

    background-color:var(--cor1);
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 3px 5px 4px black;
}

nav{
    background-color:var(--cor1);
    margin: 15px;
    padding: 5px;
    border-radius:5px;
    box-shadow: 3px 5px 4px black;
}

img{
   min-width: 200px;
   max-width: 200px;

}

button{
    
}

h1{ font-family: var(--fonte0);
    
}


